<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Homepage</a>
    </div>
    <div class="nav navbar-nav navbar-right">
      <a routerLink="animals">Animals</a>
  </div>
</div>
</nav>

<footer class="footer">
  <div class="container">
    <a class="text-muted" routerLink="admin">Admin</a>
  </div>
</footer>


<router-outlet></router-outlet>

<div>
  <img id="squirrel" width="300" alt="Squirrel" src="./assets/img/squirrel.png">
</div>
